/* Main CSS */

/*
.prPhotoItem {
	width: 175px;
	float:left;
	margin: 0 15px 10px 15px;
}
* html .prPhotoItem {
	display: inline;
}
.prPhotoInner {
	min-height:250px;
	height:auto !important;
	height:250px;
	text-align:left;
}
.prPhotoHeader {
	padding-top:10px;
	font-weight:bold;
} */
/* Thema CSS */