<?xml version="1.0" encoding="utf-8"?>
<config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <production>

        <!-- from cfg.db.xml -->
        <db>
            <database>
                <use>true</use>
                <type>PDO_MYSQL</type>
                <host>_MYSQL_HOST_</host>
                <username>_MYSQL_USERNAME_</username>
                <password>_MYSQL_PASSWORD_</password>
                <name>_MYSQL_DB_NAME_</name>
            </database>
        </db>

        <!-- from cfg.messagedb.xml -->
        <messagedb>
            <database>
                <use>true</use>
                <type>PDO_MYSQL</type>
                <host>_MYSQL_HOST_</host>
                <username>_MYSQL_USERNAME_</username>
                <password>_MYSQL_PASSWORD_</password>
                <name>_MYSQL_DB_NAME_</name>
            </database>
        </messagedb>

        <mailsrv_service>
            <credentials>
                <uid>_MAILSRV_USER_</uid>                       <!--  valid username  -->
                <pass>_MAILSRV_PASSWORD_</pass>                 <!--  valid password  -->
            </credentials>
        </mailsrv_service>

        <!-- from cfg.tinyservice.xml -->
        <tinyservice>
            <credentials>
                <uid>_TINYSRV_USER_</uid>                       <!--  valid username  -->
                <pass>_TINYSRV_PASSWORD_</pass>                 <!--  valid password  -->
            </credentials>
        </tinyservice>

        <!-- from cfg.site.xml -->
        <site>
            <!--
            GOOGLE ANALYTICS & MAP CONFIGURATION
            google_analytics - use or not google analytics. Possible values : on, off. DEPRECATED. Use Adminarea settings.
            google_analytics_id
            google_map_key
            -->
            <google_analytics>off</google_analytics>
            <google_analytics_id></google_analytics_id>

            <!--
            FACEBOOK CONNECT CONFIGURATION
            -->
            <facebook_used>off</facebook_used>
            <facebook_api_key></facebook_api_key>
            <facebook_api_secret></facebook_api_secret>
        </site>

        <!-- from cfg.gmap.xml -->
        <gmap>
            <google_map_key>_YOUR_GMAP_KEY_</google_map_key>
        </gmap>
        
        <!-- Wordpress SSO Settings -->
        <wp_sso>
            <credentials>
                <uid>_WPSSO_USER_</uid>                        <!--  valid username  -->
                <pass>_WPSSO_PASSWORD_</pass>     <!--  valid password - md5 hash  -->
            </credentials>
        </wp_sso>

    </production>

    <development extends="production"></development>

</config>
