<?xml version="1.0" encoding="utf-8"?>
<config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <production>
        <conf>
            <path>/usr/bin/indexer</path>
            <storage>/var/lib/data/</storage>
            <config>/etc/sphinx.conf</config>
            <global_indexes>video,list,event,discussion,document,user,photo,group</global_indexes>
        </conf>
        <indexes>
            <tags>
                <index_weight>
                    <tags>1000</tags>
                </index_weight>
                <field_weight>
                    <tag_id>10</tag_id>
                    <entity_id>10</entity_id>
                    <entity_type>10</entity_type>
                    <city_id>10</city_id>
                    <state_id>10</state_id>
                    <country_id>10</country_id>
                    <owner_type>10</owner_type>
                    <owner_id>10</owner_id>
                    <creator_id>10</creator_id>
                    <status>10</status>
                    <creation_date>10</creation_date>
                    <latitude>10</latitude>
                    <longitude>10</longitude>
                </field_weight>
            </tags>
            <group>
                <field_weight>
                    <name>400</name>
                    <zipcode>800</zipcode>
                    <headline>700</headline>
                    <description>500</description>
                    <tag>300</tag>
                </field_weight>
                <index_weight>
                    <group>1000</group>
                </index_weight>
            </group>
            <user>
                <limit>5000</limit>
                <field_weight>
                    <login_str>800</login_str>
                    <zipcode>700</zipcode>
                    <users_locations_names>700</users_locations_names>
                    <firstname>100</firstname>
                    <lastname>100</lastname>
                    <realname>100</realname>
                    <intro>50</intro>
                    <headline>300</headline>
                    <tag>300</tag>
                </field_weight>
                <index_weight>
                    <user>1000</user>
                    <!--userdelta>1001</userdelta-->
                </index_weight>
            </user>
            <photo>
                <limit>20000</limit>
                <field_weight>
                    <photo_title_real>100</photo_title_real>
                    <photo_description>5</photo_description>
                    <photo_additional_info>2</photo_additional_info>
                    <photo_tags>100</photo_tags>
                    <gallery_title>10</gallery_title>
                    <gallery_description>5</gallery_description>
                    <gallery_tags>8</gallery_tags>
                </field_weight>
                <index_weight>
                    <photo>1000</photo>
                    <!--photodelta>1001</photodelta-->
                </index_weight>
            </photo>
            <video>
                <field_weight>
                    <video_title_real>100</video_title_real>
                    <video_description>5</video_description>
                    <video_additional_info>2</video_additional_info>
                    <video_tags>8</video_tags>
                    <gallery_title>10</gallery_title>
                    <gallery_description>5</gallery_description>
                    <gallery_tags>8</gallery_tags>
                </field_weight>
                <index_weight>
                    <video>1000</video>
                    <!--videodelta>1001</videodelta-->
                </index_weight>
            </video>
            <list>
                <field_weight>
                    <title>10</title>
                    <tags>8</tags>
                    <xml>3</xml>
                    <entry>2</entry>
                </field_weight>
                <index_weight>
                    <list>1000</list>
                    <!--listdelta>1001</listdelta-->
                </index_weight>
            </list>
            <event>
                <field_weight>
                    <title>400</title>
                    <event_tags>200</event_tags>
                    <event_description>100</event_description>
                </field_weight>
                <index_weight>
                    <event>1000</event>
                    <!--eventdelta>1001</eventdelta-->
                </index_weight>
            </event>
            <venue>
                <field_weight>
                    <name>10</name>
                    <description>5</description>
                </field_weight>
                <index_weight>
                    <venue>1000</venue>
                </index_weight>
            </venue>
            <document>
                <field_weight>
                    <original_name>100</original_name>
                    <description>100</description>
                </field_weight>
                <index_weight>
                    <document>1000</document>
                </index_weight>
            </document>
            <venue_distance>
                <field_weight>
                    <zipcode>1</zipcode>
                </field_weight>
                <index_weight>
                    <venue_distance>1000</venue_distance>
                </index_weight>
            </venue_distance>
            <discussion>
                <field_weight>
                    <content>10</content>
                    <subject>200</subject>
                </field_weight>
                <index_weight>
                    <discussion>1000</discussion>
                </index_weight>
            </discussion>
            <addressbook>
                <field_weight>
                    <is_friend>50</is_friend>
                    <login>10</login>
                    <email>10</email>
                </field_weight>
                <index_weight>
                    <addressbook>1000</addressbook>
                </index_weight>
            </addressbook>
        </indexes>
    </production>
    
    <development extends="production"></development>

</config>
