<?xml version="1.0" encoding="utf-8"?>
<config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <production>
        <user>
            <login>
                <group>10</group>
                <user>500</user>
            </login>
            <firstname>
                <group>9</group>
                <user>100</user>
            </firstname>
            <lastname>
                <group>9</group>
                <user>100</user>
            </lastname>
            <realname>
                <group>9</group>
                <user>100</user>
            </realname>
            <intro>
                <group>9</group>
                <user>50</user>
            </intro>
            <headline>
                <group>9</group>
                <user>300</user>
            </headline>
            <zipcode>
                <group>5</group>
                <user>10</user>
            </zipcode>
            <tag>
                <group>5</group>
                <user>300</user>
            </tag>
        </user>
        <group>
            <category_id>
                <group>400</group>
                <user>10</user>
                <object>Warecorp_Group_Category</object>
                <object_property>name</object_property>
            </category_id>
            <name>
                <group>500</group>
                <user>10</user>
            </name>
            <members_name>
                <group>100</group>
                <user>10</user>
            </members_name>
            <headline>
                <group>100</group>
                <user>10</user>
            </headline>
            <description>
                <group>50</group>
                <user>10</user>
            </description>
            <zipcode>
                <group>10</group>
                <user>5</user>
            </zipcode>
            <tag>
                <group>300</group>
                <user>10</user>
            </tag>
        </group>
        <videogallery>
            <title>
                <group>10</group>
                <user>10</user>
            </title>
            <description>
                <group>5</group>
                <user>5</user>
            </description>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </videogallery>
        <video>
            <title>
                <group>10</group>
                <user>10</user>
            </title>
            <description>
                <group>5</group>
                <user>5</user>
            </description>
            <additional_info>
                <group>2</group>
                <user>2</user>
            </additional_info>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </video>
        <gallery>
            <title>
                <group>10</group>
                <user>10</user>
            </title>
            <description>
                <group>5</group>
                <user>5</user>
            </description>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </gallery>
        <photo>
            <title>
                <group>10</group>
                <user>10</user>
            </title>
            <description>
                <group>5</group>
                <user>5</user>
            </description>
            <additional_info>
                <group>2</group>
                <user>2</user>
            </additional_info>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </photo>
        <document>
            <description>
                <group>5</group>
                <user>5</user>
            </description>
            <original_name>
                <group>10</group>
                <user>10</user>
            </original_name>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </document>
        <charity>
            <description>
                <group>5</group>
                <user>5</user>
            </description>
            <name>
                <group>10</group>
                <user>10</user>
            </name>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </charity>
        <event>
            <title>
                <group>10</group>
                <user>10</user>
            </title>
            <description>
                <group>5</group>
                <user>5</user>
            </description>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </event>
        <event_category>
            <name>
                <group>10</group>
                <user>10</user>
            </name>
        </event_category>
        <list>
            <title>
                <group>10</group>
                <user>10</user>
            </title>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </list>
        <lists_record>
            <xml_fields>
                <group>3</group>
                <user>3</user>
            </xml_fields>
            <entry>
                <group>1</group>
                <user>1</user>
            </entry>
            <tag>
                <group>2</group>
                <user>2</user>
            </tag>
        </lists_record>
        <comment>
        </comment>
        <venue>
            <name>
                <group>10</group>
                <user>10</user>
            </name>
            <description>
                <group>5</group>
                <user>5</user>
            </description>
            <zipcode>
                <group>5</group>
                <user>5</user>
            </zipcode>
            <tag>
                <group>8</group>
                <user>8</user>
            </tag>
        </venue>
        <user_distance>
            <d1>
                <distance>500</distance>
                <sign>></sign>
                <weight>0</weight>
            </d1>
            <d2>
                <distance>300</distance>
                <sign>></sign>
                <weight>5</weight>
            </d2>
            <d3>
                <distance>200</distance>
                <sign>></sign>
                <weight>7</weight>
            </d3>
            <d4>
                <distance>150</distance>
                <sign>></sign>
                <weight>9</weight>
            </d4>
            <d5>
                <distance>100</distance>
                <sign>></sign>
                <weight>10</weight>
            </d5>
            <d6>
                <distance>90</distance>
                <sign>></sign>
                <weight>15</weight>
            </d6>
            <d7>
                <distance>80</distance>
                <sign>></sign>
                <weight>20</weight>
            </d7>
            <d8>
                <distance>70</distance>
                <sign>></sign>
                <weight>25</weight>
            </d8>
            <d9>
                <distance>60</distance>
                <sign>></sign>
                <weight>30</weight>
            </d9>
            <d10>
                <distance>50</distance>
                <sign>></sign>
                <weight>35</weight>
            </d10>
            <d11>
                <distance>40</distance>
                <sign>></sign>
                <weight>40</weight>
            </d11>
            <d12>
                <distance>30</distance>
                <sign>></sign>
                <weight>50</weight>
            </d12>
            <d13>
                <distance>20</distance>
                <sign>></sign>
                <weight>60</weight>
            </d13>
            <d14>
                <distance>10</distance>
                <sign>></sign>
                <weight>70</weight>
            </d14>
            <d15>
                <distance>5</distance>
                <sign>></sign>
                <weight>80</weight>
            </d15>
            <d16>
                <distance>2</distance>
                <sign>></sign>
                <weight>90</weight>
            </d16>
            <d17>
                <distance>0</distance>
                <sign>></sign>
                <weight>100</weight>
            </d17>
            <d18>
                <distance>0</distance>
                <sign>=</sign>
                <weight>250</weight>
            </d18>
        </user_distance>
        <group_distance>
            <d1>
                <distance>500</distance>
                <sign>></sign>
                <weight>0</weight>
            </d1>
            <d2>
                <distance>300</distance>
                <sign>></sign>
                <weight>5</weight>
            </d2>
            <d3>
                <distance>200</distance>
                <sign>></sign>
                <weight>7</weight>
            </d3>
            <d4>
                <distance>150</distance>
                <sign>></sign>
                <weight>9</weight>
            </d4>
            <d5>
                <distance>100</distance>
                <sign>></sign>
                <weight>10</weight>
            </d5>
            <d6>
                <distance>90</distance>
                <sign>></sign>
                <weight>15</weight>
            </d6>
            <d7>
                <distance>80</distance>
                <sign>></sign>
                <weight>20</weight>
            </d7>
            <d8>
                <distance>70</distance>
                <sign>></sign>
                <weight>25</weight>
            </d8>
            <d9>
                <distance>60</distance>
                <sign>></sign>
                <weight>30</weight>
            </d9>
            <d10>
                <distance>50</distance>
                <sign>></sign>
                <weight>35</weight>
            </d10>
            <d11>
                <distance>40</distance>
                <sign>></sign>
                <weight>40</weight>
            </d11>
            <d12>
                <distance>30</distance>
                <sign>></sign>
                <weight>50</weight>
            </d12>
            <d13>
                <distance>20</distance>
                <sign>></sign>
                <weight>60</weight>
            </d13>
            <d14>
                <distance>10</distance>
                <sign>></sign>
                <weight>70</weight>
            </d14>
            <d15>
                <distance>5</distance>
                <sign>></sign>
                <weight>80</weight>
            </d15>
            <d16>
                <distance>2</distance>
                <sign>></sign>
                <weight>90</weight>
            </d16>
            <d17>
                <distance>0</distance>
                <sign>></sign>
                <weight>100</weight>
            </d17>
            <d18>
                <distance>0</distance>
                <sign>=</sign>
                <weight>250</weight>
            </d18>
        </group_distance>
    </production>

    <development extends="production"></development>

</config>

