@import url(/theme/product/css/main.css);
body {
	font-family: Arial, Helvetica, sans-serif;
}
.prMain {
	background: #fff url(/theme/product_ei/images/decorators/background/mainBg.gif) repeat-x left 100px;
}
h1 {
	color:#999;
	font-size:2.1em;
}
h1 a {
	color:#0E4D91;
}
h2 {color:#000;}
h2 a {color:#0e4d91;}
a {
	color:#0e4d91;
}
/* Text */

.prText3 {
	color:#ab650d;
}
.prText4 {
	color:#969a97;
}
.prText5 {
	color:#969a97;
}
.prText6 {
	color:#fff;
}
/* Backgrounds */
.prEvenBg {
	background-color:#f5f5f1;
}
.prDecorBg {
	background-color:#527058;
}

/* Tags */

.prTag1 {
	color:#527058;
	font-size:1.8em;
	text-decoration:none;
}
.prTag2 {
	color:#527058;
	font-size:1.6em;
	text-decoration:none;
}
.prTag3 {
	color:#ab650d;
	font-size:1.4em;
	text-decoration:none;
}
.prTag4 {
	color:#c7ccc8;
	font-size:1.2em;
	text-decoration:none;
}
.prTag5 {
	color:#969a97;
	font-size:1em;
	text-decoration:none;
}
.prMarkRequired {
	color:#FDBF10;
}
.prContentObject a, .themeA a {
	color:#004488 !important;
}
.prButton {
	background-color: #0e4d92 !important;
	background-image: none;
	border: 1px solid #0e4d92;
	font-family:Arial, Helvetica, sans-serif;
	padding: 2px 0 3px 0px;
	padding-top/*\**/: 3px\9;
	color: #fff!important;
	text-decoration:none;
	zoom:1;
	cursor: pointer;
	line-height: 24px;
	vertical-align: middle;
}
*html .prButton {
	padding: 0px 0px 1px 0px;
	zoom:1;
	line-height: 16px;
}
*+html .prButton {
	padding: 0px 0 0px 0px;
	zoom:1;
	line-height: 20px;
}

.prButton span {
	background-image: none;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 1px 7px 3px 7px;
}
*html .prButton span {
	padding: 2px 7px 3px 7px;
	zoom:1;
}
*+html .prButton span {
	padding: 0px 7px 1px 7px;
	zoom:1;
}
body:first-of-type .prButton span {
	padding: 1px 7px 3px 7px;
}
*html .prButton span {
	zoom:1;
}
.prButtonPanel {
	overflow: hidden;
}

.prLayout-header {
	background: #0e4d92;
	height:78px;
}
.prLayout-headerNav {
	background: #0e4d92 url(/theme/product_ei/images/decorators/background/topNavBg.gif) repeat-x left bottom;
	height:26px;
}
.prContentHeader {
	background-color: #0184c8 !important;
	background-image: none !important;
	border-top: 1px solid #b1b1b1;
	border-right: 1px solid #b1b1b1;
	border-left: 1px solid #b1b1b1;
	height:59px;
	padding-left:20px;
}

.prContentHeaderInner {
	background-color: #0184c8 !important;
	background-image: none !important;
	height:59px;
}

.prSubNav {
	overflow:hidden;
	zoom:1;
}
.prSubNav.additional {
	width:500px;
	float:left;
}
.prContentHeader .prSubNav {
	padding-top: 33px;
}
.prSubNav li {
	float:left;
	margin-right:10px;
}
.prSubNav li a {
	color:#c2c5c3;
	display:block;
	padding-top:5px;
}
.prSubNav .active {
	background: url(/theme/product_ei/images/decorators/background/cont_actNav_left.gif) no-repeat top left;
	height:26px;
	padding-left:4px;
}
.prSubNav .active a {
	background: url(/theme/product_ei/images/decorators/background/cont_actNav_right.gif) no-repeat top right;
	padding:6px 13px 5px 6px;
	display:block;
	text-decoration:none;
	color:#999;
}

/* global nav */

.prGlobalNav li {

	background: transparent url(/theme/product_ei/images/decorators/navigation/top/nav_left.png) no-repeat top left;

}

.prGlobalNav li a {

	color:#333;
	font-size:1em;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	background: transparent url(/theme/product_ei/images/decorators/navigation/top/nav_right.png) no-repeat top right;

}
.prGlobalNav li a:hover {
	color:#999;
}
.prGlobalNav .active {
	background: transparent url(/theme/product_ei/images/decorators/navigation/top/nav_active_left.png) no-repeat top left  !important;
}

.prGlobalNav .active a {
	background: transparent url(/theme/product_ei/images/decorators/navigation/top/nav_active_right.png) no-repeat top right !important;
	color:#999 !important;
}
*html .prGlobalNav .active {
	background: transparent url(/theme/product_ei/images/decorators/navigation/top/nav_active_left.gif) no-repeat top left  !important;
}

*html .prGlobalNav .active a {
	background: transparent url(/theme/product_ei/images/decorators/navigation/top/nav_active_right.gif) no-repeat top right !important;
	color:#999 !important;
}

.prGlobalNav .last {
	background: transparent url(/theme/product_ei/images/decorators/navigation/top/nav_right_last.png) no-repeat top right;
}


.prTopBlock {
	height:65px;
}
.prTopBlock .active a {
	color:#ffc40e !important;
}
.prTopBlock ul {
	float:right;
}
.prTopBlock li {
	float:left;
	/*border-right:solid 1px #82cff7;*/
	margin-top:5px;
}
.prTopBlock li a {
	text-decoration: none!important;
	color:#82cff7;
	display:block;
	font-size:0.84em;
	padding: 2px 5px 0px 5px;
}
.prTopBlock li a:hover {
	color:#FFC40E;
}
.prTopBlock .active a {
	color:#FFC40E;
	font-weight:bold;
}
.prArrowLink {
	background: url(/theme/product_ei/images/decorators/background/prTopBlockArrow.gif) right 2px no-repeat;
	padding-right:8px !important;
}
.prTopBlock input {
	float:right;
}
.prTopBlock .last {
	border:none !important;
}
.prTopBlock .arrow {
	width:8px;
	border:none;
	padding-right:5px;
}
.prSearchField {
	background-color:#fff;
}
.prSearchButton {
	margin: 3px 0px 0px 5px;
	border: none;
}

ul.prTopNav {
	list-style: none;
	margin: 0;
	float: right;
}
ul.prTopNav li {
	float: left;
	margin: 0;	
	padding: 0 7px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}

*html ul.prTopNav li {
	padding-bottom: 5px;
}

ul.prTopNav li a{
	padding: 0px 5px 0px 8px;
	margin: 5px 0;
	border-left:1px solid #99ccff;
	height:14px;
	color:#99ccff;
	display: block;
	text-decoration: none;
	float: left;
}

ul.prTopNav li a:hover{
	color:#999;
}
ul.prTopNav li span { /*--Drop down trigger styles--*/
	width: 14px;
	height: 18px;
	margin-top:3px;
	float: left;
	background: url(/theme/product_ei/images/decorators/background/prTopBlockArrow_ei.gif) no-repeat center top;
}


ul.prTopNav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.prTopNav li ul.prTopSubNav {
	list-style: none;
	position: absolute; /*--Important - Keeps prTopSubNav from affecting main navigation flow--*/
	left: 0; top: 24px;
	background: #fff;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 158px;
	text-align:left;
}
ul.prTopNav li ul.prTopSubNav li{
	margin: 0; padding: 0;
	clear: both;
	width: 158px;
}
html ul.prTopNav li ul.prTopSubNav li a {
	float: left;
	width: 145px;
	background-color: #fff;
}
html ul.prTopNav li ul.prTopSubNav li a:hover { /*--Hover effect for prTopSubNav links--*/
	background-color: #ffe7a7;
}

.prTopSubNav {
	border-bottom: 1px solid #bab9af;
}

ul.prTopSubNav li a {
	padding: 3px 5px 3px 8px; 
}
ul.prTopSubNav.left {
	left:auto!important;
	right:0;
	width:100px!important;
}
*html ul.prTopSubNav.left {
	right:-1px!important;
}
.left .prCustomDropDoun {
	width:100px!important;
}

.left .prCustomDropDoun a {
	width:87px!important;
	height:auto!important;
}


.prSubHover {
	background-color: #fff;
	 
}
.prSubHover a {
	border-left: 1px solid #ffffd6!important;
}
.prSubHover {
	padding-bottom:5px;
}

.prDropDown {
	border-right: transparent 1px solid;
}
*html .prDropDown {
	border-right: none;
}
li.prSubHover {
	border-right: 1px solid #9F9763!important;
}
*html li.prSubHover {
	border-right: none!important;
}

/* Custom DropDoun  */
li.prCustomDropDoun {
	border-left:none;
	border-right: 1px solid #9F9763;
}

.prCustomDropDoun a {
	display:block;
	margin:0!important;
	border-left: none!important;
	height:auto!important;
}
.prCustomDropDoun a:hover {
	color:#333!important;
	background-color: #527058;
}

/*END  Top NAV*/
/* left nav */
.prLeftNav {
	background: transparent url(/theme/product_ei/images/decorators/navigation/left/left_nav_l.png) no-repeat top left;
	overflow:hidden;
	padding-left:20px;
	display:block;
	margin-bottom:8px;
	zoom:1;
}
.prLeftNav a {
	font-size: 0.92em;
}
*html .prLeftNav {
	behavior: url(/theme/product_ei/css/iepngfix.htc);
}
.prLeftNavInner {
	background: transparent url(/theme/product_ei/images/decorators/navigation/left/left_nav_r.png) repeat-x top left;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif !important;
	display:block;
	padding: 4px 0 5px 0;
	color:#fff;
	font-weight:bold;
}
.prLeftNavActive {
	background: transparent url(/theme/product_ei/images/decorators/navigation/left/left_nav_active_l.png) no-repeat top left;
	margin-bottom:8px;
}
.prLeftNavActive .prLeftNavInner {
	background: transparent url(/theme/product_ei/images/decorators/navigation/left/left_nav_active_r.png) repeat-x top left;
	text-decoration:none;
	display:block;
	padding: 4px 0 5px 0;
}
.prLeftSubNav li {
	background: transparent;
	margin-top: 3px;
	margin-left:20px;
	padding-left: 15px;
	color: #0e4d92;
	display:block;
}
.prLeftSubNav li a {
	color: #0e4d92;
	text-decoration:none;
}
.prLeftSubNav .active {
	background: transparent url(/theme/product_ei/images/decorators/navigation/left/dot_active.png) no-repeat 0 50%;
	color: #9f9763;
}
.prLeftSubNav .active a {
	color: #0184c8;
	text-decoration:none;
}
.prZebraBg1 {
	background-color:#ffffff;
}
.prZebraBg2 {
	background-color:#e5f2f9;
}
.prThirdNav .active {
	background-color: #0E4D92;
}
.prVerticalNav .active {
background-color:#0E4D92;
color:#FFFFFF;
}
.prResult th {
	height:25px;
	background-color:#f9faf9;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	color:#0184C8;
	padding:8px 0 8px 10px;
}
.prResult th a {
	color: #0184c8;
	font-weight: bold;
	text-decoration:none;
}
.prTableDocs th {
	background-color:#e5f2f9;
	color:#0184C8;
}
.prTableDocs th a {
	color:#0184C8;
	text-decoration:none;
}
.prbSortUp a {
	background: url(/theme/product_ei/images/decorators/prSortArrowUp.gif) right no-repeat;
	padding-right:12px;
}
.prbSortDown a {
	background: url(/theme/product_ei/images/decorators/prSortArrowDown.gif) right no-repeat;
	padding-right:12px;
}
.prArrow {
	background:url(/theme/product_ei/images/decorators/background/prArrowRight.gif) left 65% no-repeat;
	padding: 0px 0px 0px 10px;
	font-weight:normal !important;
}
.prArrow-down {
	background:url(/theme/product_ei/images/decorators/background/prArrowDown.gif) left 65% no-repeat;
	padding: 0px 0px 0px 10px;
	font-weight:normal !important;
}
.prArrow2 {
	background:url(/theme/product_ei/images/decorators/background/prArrowDown.gif) right 65% no-repeat;
	padding: 0px 10px 0px 0px;
}
.prArrow2-down {
	background:url(/theme/product_ei/images/decorators/background/prArrowTop.gif) right 65% no-repeat;
	padding: 0px 10px 0px 0px;
}
.prRActive-top a {
	background: url(/theme/product_ei/images/decorators/sort_arrow_up.gif) right 60% no-repeat;
	padding-right:15px;
}
.prRActive-bottom a {
	background: url(/theme/product_ei/images/decorators/sort_arrow_down.gif) right 60% no-repeat;
	padding-right:15px;
}